<div class="page-header">
  <h2 class="sub-header">Accueil de l'application</h2>
</div>
<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="jumbotron">
      <div class="container">
        <h1 class="my-title">App0</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores dicta perspiciatis doloribus consequatur non? Sint,
          enim expedita quam fugiat blanditiis eos sunt minus asperiores adipisci officia sequi cumque dicta omnis.</p>
        <p></p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores dicta perspiciatis doloribus consequatur non? Sint,
          enim expedita quam fugiat blanditiis eos sunt minus asperiores adipisci officia sequi cumque dicta omnis.</p>
        <p></p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores dicta perspiciatis doloribus consequatur non? Sint,
          enim expedita quam fugiat blanditiis eos sunt minus asperiores adipisci officia sequi cumque dicta omnis.</p>
        <p>
          <a class="btn btn-primary btn-lg" routerLink="/users" role="button">Utilisateurs</a>
        </p>
      </div>
    </div>
  </div>
</div>