<div *ngIf="authService.user">
<root-header 
  class="ng-tns-c2-0 ng-star-inserted"
  [headerTitle]="title" 
  [logo]="logo"
  [user]="user"
  (logOutEvent)="logout($event)"
  (headerNav)="checkHeaderNav($event)">
</root-header>

<div 
    class="pcoded-main-container app" 
    [style.margin-left]="marginLeft" 
    [style.margin-top]="marginTop" 
    [style.padding-top]="headerNav ? '56px' : '0px'"
    [ngClass]="onClick()" 
    (window:resize)="onResize($event)">
    <div class="pcoded-content">
      <div class="pcoded-wrapper">
        <div class="main-body" *ngIf="userIsReady">
          <!-- <div *ngIf="authService.authenticated && authService.user !== null; then welcomeUser else signInPrompt"></div>
          <ng-template #welcomeUser>
            <h4>Welcome {{ authService.user.displayName }}!</h4>
            <h4>SAM : {{authService.user.samaccountname}}</h4>
            <p>Use the navigation bar at the top of the page to get started.</p>
          </ng-template>
          <ng-template #signInPrompt>
            <a href="javascript:undefined" class="btn btn-primary btn-large" role="button" (click)="signIn()">Click here to sign in</a>
          </ng-template> -->
          <!-- <div *ngIf="authService">
            <div *ngIf="authService.user">

          
            <h4 *ngIf="authService.authenticated && authService.user !== null && authService.user !== 'undefined'">Welcome {{ authService.user['displayName']}}!</h4>
            <h4 *ngIf="authService.authenticated && authService.user !== null && authService.user !== 'undefined'">SAM : {{authService.user['displayName']}}</h4>
          </div>
          </div> -->
          <router-outlet></router-outlet>
          <root-footer class="footer"></root-footer>
        </div>
      </div>
    </div>
</div>
</div>