<root-header 
  class="ng-tns-c2-0 ng-star-inserted"
  [headerTitle]="title" 
  [logo]="logo"
  [user]="user"
  (logOutEvent)="logout($event)"
  (headerNav)="checkHeaderNav($event)"
  [userSpecifiRights]="userSpecifiRights"
  [specificRightsExist]="specificRightsExist"
  [testMode]="testMode">
</root-header>
<div 
    class="pcoded-main-container app" 
    [style.margin-left]="marginLeft" 
    [style.margin-top]="marginTop" 
    [style.padding-top]="headerNav ? '56px' : '0px'"
    [ngClass]="onClick()" 
    (window:resize)="onResize($event)">
    <div class="pcoded-content">
      <div class="pcoded-wrapper">
        <div class="main-body" *ngIf="userIsReady">
          <router-outlet></router-outlet>
          <root-footer [versionApp]="versionApp" ></root-footer>
        </div>
      </div>
    </div>
</div>